<div class="module">
  <div id="team" class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center wrapper-xs wrapper-no-padding-top">
        <!--<span class="subheading">Who we are</span>-->
        <h2>Our Team</h2>
        <hr>

        <p class="lead">I am a registered nurse for the state of Idaho and the state of Oregon.  I am also a fitness provider, I have years of personal training and teaching fitness classes and now focus most of my time working for home care and teaching yoga.  I see almost daily the importance of providing excellent care for our aging loved ones in order to prevent family from getting burnt out.  When my family was providing care for our loved ones, we questioned whether to hire out for the fear of the unknown.  Will who cares for our loved ones be safe, trust worthy, and reliable?  This is where the importance of hiring the best becomes essential.  I personally interview each employee and hire out only if I feel they have these characteristics. </p>
      </div>
    </div>

    <div class="row text-center">
      <div id="mugs" class="col-md-4">
        <div class="row">
          <div class="col-md-10 wrapper-default wrapper-xs wrapper-shadow no-gutter">
            <img src="img/crandallKyle.jpg" class="pull-top" style="width: 200px; border: 2px solid goldenrod; border-radius: 72%;" alt="image">


            <h2>Kelly Young</h2>
            <p>Owner and Registered Nurse</p>
            <a>
              <p class="btn" ng-click="show = !show">Read more...</p>
            </a>
            <div ng-show="show">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae voluptas consectetur obcaecati. Perspiciatis dicta, suscipit laboriosam, earum adipisci libero vitae nostrum maxime, quas nisi ducimus maiores temporibus dolorem quidem dignissimos.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, quos ullam fugiat quo optio esse quasi dolorem odit debitis, quisquam sunt velit dignissimos iusto ipsa id recusandae. Quo, nulla, vitae!</p>
            </div>

          </div>
        </div>
      </div>

      <div id="mugs" class="col-md-4">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 wrapper-default wrapper-xs wrapper-shadow no-gutter">
            <img src="img/Edie.jpg" class="pull-top" style="border: 2px solid goldenrod; width: 200px; border-radius: 72%;" alt="image">


            <h2>Edie Johnson</h2>
            <p>Registered Nurse</p>
            <a>
              <p class="btn" ng-click="dow = !dow">Read more...</p>
            </a>
            <div ng-show="dow">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta reiciendis voluptatum similique, et, fuga officia mollitia recusandae labore quas placeat accusantium consectetur doloribus, dolor nostrum ullam animi, blanditiis esse vitae!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam consequatur ipsum accusamus inventore. Illum ducimus ad rem sed reiciendis minima nam corporis, veniam, harum praesentium amet dignissimos voluptatem quasi obcaecati.</p>
            </div>
          </div>

        </div>
      </div>

      <div id="mugs" class="col-md-4">
        <div class="row team">
          <div class="col-md-10 col-md-offset-2 wrapper-default wrapper-xs wrapper-shadow no-gutter">
            <img src="img/Gary.jpg" class="pull-top" style=" border: 2px solid goldenrod; width: 200px; border-radius: 72%;" alt="image">
            <h2>Gary Kagels</h2>
            <p>Registered Nurse</p>
            <a>
              <p class="btn" ng-click="how = !how">Read more...</p>
            </a>
            <div ng-show="how">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque sunt nesciunt officia nobis similique fugiat et, officiis accusantium exercitationem minima reiciendis a optio voluptates inventore facere unde natus tenetur magni. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus obcaecati nisi, magni ab soluta nemo blanditiis odio, labore aspernatur, dolorum accusamus ratione, autem nesciunt voluptate ad distinctio eligendi quis repellat.</p>
            </div>
            <p></p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>