
  
    <div id="services" class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center wrapper-xs wrapper-no-padding-top">
        <!--<span class="subheading">Who we are</span>-->
        <h2><b>What We Do</b></h2>
        <hr>

        <p class="lead">We are the best at what we do. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt magni veniam voluptate, nesciunt, tenetur recusandae quas, fugiat, quod rem dolorum sed eius autem voluptatibus quis nisi commodi voluptatem dolorem nemo. </p>
      </div>
    </div>
    </div>
   
  
  
  <div id="service" class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center wrapper-xs wrapper-no-padding-top">
        <!--<span class="subheading">Who we are</span>-->
    <h2>Services</h2>
        <hr>

        <p class="lead">We provide care for eniam voluptate, nesciunt, tenetur recusandae quas, fugiat, quod rem dolorum sed eius autem voluptatibus quis nisi commodi voluptatem dolorem nemo. </p>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-md-4">
        <div id="care" class="row">
         
            <h2>Special Care</h2>
            <p>Part-time</p>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas eum rerum quam nulla vitae in officiis provident, similique nemo cum inventore excepturi amet dolor deserunt pariatur iusto, animi perspiciatis saepe.</p>
            <a>
              <p class="btn" ng-click="show = !show">Read more...</p>
            </a>
            <div ng-show="show">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae voluptas consectetur obcaecati. Perspiciatis dicta, suscipit laboriosam, earum adipisci libero vitae nostrum maxime, quas nisi ducimus maiores temporibus dolorem quidem dignissimos.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, quos ullam fugiat quo optio esse quasi dolorem odit debitis, quisquam sunt velit dignissimos iusto ipsa id recusandae. Quo, nulla, vitae!</p>
            </div>
        </div>
      </div>

      <div class="col-md-4">
        <div id="care" class="row">
         
           


            <h2>Special Care</h2>
            <p>Memory Loss</p>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore deserunt, facilis odit ad fugiat optio soluta sequi pariatur repellat sapiente consectetur commodi quos laudantium rem non vitae? Temporibus, quisquam, dicta.</p>
            <a>
              <p class="btn" ng-click="dow = !dow">Read more...</p>
            </a>
            <div ng-show="dow">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta reiciendis voluptatum similique, et, fuga officia mollitia recusandae labore quas placeat accusantium consectetur doloribus, dolor nostrum ullam animi, blanditiis esse vitae!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam consequatur ipsum accusamus inventore. Illum ducimus ad rem sed reiciendis minima nam corporis, veniam, harum praesentium amet dignissimos voluptatem quasi obcaecati.</p>
            </div>
     

        </div>
      </div>

      <div  class="col-md-4">
        <div id="care" class="row">
          
     
            <h2>Special Care</h2>
            <p>Overnight</p>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus explicabo numquam laboriosam sit quo inventore ipsam sed, quas at. Mollitia magni repellat veritatis pariatur. Iusto tempora optio cupiditate nemo officiis.</p>
            <a>
              <p class="btn" ng-click="how = !how">Read more...</p>
            </a>
            <div ng-show="how">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque sunt nesciunt officia nobis similique fugiat et, officiis accusantium exercitationem minima reiciendis a optio voluptates inventore facere unde natus tenetur magni. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus obcaecati nisi, magni ab soluta nemo blanditiis odio, labore aspernatur, dolorum accusamus ratione, autem nesciunt voluptate ad distinctio eligendi quis repellat.</p>
            </div>
          
        
        </div>

      </div>
    </div>
  </div>
